<section class="p0 bb1 overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="custom_shop_category_nav_list_menu">
          <ul class="mb0 d-flex">
            <% @sub_categories.each do |sub_category| %>
              <li >
                <%= link_to sub_category.name, category_sub_category_path(@category, sub_category) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
