<!-- Headphones  -->
<section class="electornics-product pt-0 pb60">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="main-title text-center text-sm-start mb10">
          <h2>What We Offer</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="main-title text-center text-sm-end mb-5">
          <a class="title_more_btn mt10" href="page-shop-list-v2.html">See All</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-5">
        <div class="banner_home6_style large_style p-4 mb30">
          <div class="thumb"><img class="img-fluid float-end dn-500" src="<%= asset_path "banner/headphone-buds-large.png"%>" alt="smartwatch"></div>
          <div class="details col p-4">
            <h3 class="title">For Sellers</h3>

            <p class="para heading-color"><strong>Sell Smarter, Grow Faster with Axis Marketplace

Expand your business and reach millions of potential buyers on one of the fastest-growing e-commerce platforms.</strong></p>
            <a href="page-shop-list-v1.html" class="shop_btn">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-7">
        <div class="row">
          <div class="col-sm-6 col-lg-4">
            <div class="banner_home6_style p-4 mb30">
              <div class="thumb">
                <!-- <img class="img-fluid float-end mt-3" src="images/shop-items/home6-hp1.png" alt="EarPhone"> -->
              </div>
              <div class=" ">
                <h5 class="title">Easy Store Setup</h5>
                <p class="para">Start selling in minutes with our user-friendly onboarding process. List your products, set prices, and get ready to sell!</p>
              </div>
            </div>
            <div class="banner_home6_style p-4 mb30">
              <div class="thumb">
                <!-- <img class="img-fluid float-end mt-5" src="images/shop-items/home6-hp2.png" alt="smartdevice.png"> -->
              </div>
              <div class="">
                <h5 class="title">Reach More Customers</h5>
                <p class="para">With our broad customer base, your products can be seen by buyers worldwide</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="banner_home6_style p-4 mb30">
              <div class="thumb">
                <!-- <img class="img-fluid float-end mt-3" src="images/shop-items/home6-hp3.png" alt="EarPhone"> -->
              </div>
              <div class="">
                <h5 class="title">Fast Payouts</h5>
                <p class="para">Get paid directly to your Axis Marketplace Wallet as soon as your items are shipped. Enjoy fast, reliable payouts with no delays.</p>
              </div>
            </div>
            <div class="banner_home6_style p-4 mb30">
              <div class="thumb">
                <!-- <img class="img-fluid float-end mt-5" src="images/shop-items/home6-hp4.png" alt="smartdevice.png"> -->
              </div>
              <div class="">
                <h5 class="title">Seamless Shopping Experience</h5>
                <p class="para">Find what you need in just a few clicks.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="banner_home6_style p-4 mb30">
              <div class="thumb">
                <!-- <img class="img-fluid float-end mt-4" src="images/shop-items/home6-hp5.png" alt="EarPhone"> -->
              </div>
              <div class="">
                <h5 class="title">Exclusive Deals & Discounts</h5>
                <p class="para">Stay updated with daily flash sales, discounts, and offers. Grab your favorite items before they're gone!</p>
              </div>
            </div>
            <div class="banner_home6_style p-4 mb30">
              <div class="thumb">
                <!-- <img class="img-fluid float-end mt-3" src="images/shop-items/home6-hp6.png" alt="smartdevice.png"> -->
              </div>
              <div class="">
                <h5 class="title">24/7 Support</h5>
                <p class="para">Need help? Our support team is here for you round the clock.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
