<!-- Inner Page Breadcrumb -->
<section class="inner_page_breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="breadcrumb_content">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Electronics</a></li>
            <li class="breadcrumb-item"><a href="#">Computers</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="#">Desktop Computers</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- UI Accordions, Tabs & other elements -->
<section class="our-ui-elements pt70">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="search_widgets text-center">
          <h3 class="title">Help and Customer Service</h3>
          <div class="ui_kit_input search posr mt20 ps-0 ps-lg-3">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter a question, topic or keyword">
              </div>
              <div class="help_search_btn">
                <button type="submit" class="btn search-btn"><span class="flaticon-search"></span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt50">
      <div class="col-md-6 col-xl-4">
        <div class="help_support_box">
          <h4 class="title">Your Order</h4>
          <ul class="mb0">
            <li><a href="#">How to Place an Order</a></li>
            <li><a href="#">Checking Your Order Status</a></li>
            <li><a href="#">Finding Your Order Number</a></li>
            <li><a href="#">Cancelling or Editing an Order</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Pre-Orders</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="help_support_box">
          <h4 class="title">Returns and Exchanges</h4>
          <ul class="mb0">
            <li><a href="#">How to Place an Order</a></li>
            <li><a href="#">Checking Your Order Status</a></li>
            <li><a href="#">Finding Your Order Number</a></li>
            <li><a href="#">Cancelling or Editing an Order</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Pre-Orders</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="help_support_box">
          <h4 class="title">Mobile Devices and Plans</h4>
          <ul class="mb0">
            <li><a href="#">How to Place an Order</a></li>
            <li><a href="#">Checking Your Order Status</a></li>
            <li><a href="#">Finding Your Order Number</a></li>
            <li><a href="#">Cancelling or Editing an Order</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Pre-Orders</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="help_support_box">
          <h4 class="title">Paying and Purchasing</h4>
          <ul class="mb0">
            <li><a href="#">How to Place an Order</a></li>
            <li><a href="#">Checking Your Order Status</a></li>
            <li><a href="#">Finding Your Order Number</a></li>
            <li><a href="#">Cancelling or Editing an Order</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Pre-Orders</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="help_support_box">
          <h4 class="title">Shipping, Delivery, and Pick Up</h4>
          <ul class="mb0">
            <li><a href="#">How to Place an Order</a></li>
            <li><a href="#">Checking Your Order Status</a></li>
            <li><a href="#">Finding Your Order Number</a></li>
            <li><a href="#">Cancelling or Editing an Order</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Pre-Orders</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="help_support_box">
          <h4 class="title">Gifts and Holiday Shopping</h4>
          <ul class="mb0">
            <li><a href="#">How to Place an Order</a></li>
            <li><a href="#">Checking Your Order Status</a></li>
            <li><a href="#">Finding Your Order Number</a></li>
            <li><a href="#">Cancelling or Editing an Order</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Pre-Orders</a></li>
          </ul>
        </div>
      </div>
    </div>

  <%= render "shared/faqs" %>

  </div>
</section>
