<% content_for :title, "Editing header" %>

<h1>Editing header</h1>

<%= render "form", header: @header %>

<br>

<div>
  <%= link_to "Show this header", @header %> |
  <%= link_to "Back to headers", headers_path %>
</div>
