<p style="color: green"><%= notice %></p>

<% content_for :title, "Supports" %>

<h1>Supports</h1>

<div id="supports">
  <% @supports.each do |support| %>
    <%= render support %>
    <p>
      <%= link_to "Show this support", support %>
    </p>
  <% end %>
</div>

<%= link_to "New support", new_support_path %>
