<div class="col-xl-4">
  <div class="recent_activity_widget">
    <h4 class="title mb25">Recent Activity</h4>
    <div class="dashboard-timeline-label">
      <div class="timeline-item pb10">
        <!--begin::Label-->
        <div class="child-timeline-label">08:42</div>
        <!--end::Label-->
        <!--begin::Badge-->
        <div class="timeline-badge">
          <i class="fa fa-genderless"></i>
        </div>
        <!--end::Badge-->
        <!--begin::Text-->
        <div class="ra_pcontent pl10"><span class="title">Purchase by Ali Price</span> <br> <span class="subtitle">Product noise evolve smartwatch</span></div>
        <!--end::Text-->
      </div>
    </div>
    <div class="dashboard-timeline-label">
      <div class="timeline-item pb10">
        <!--begin::Label-->
        <div class="child-timeline-label">10:00</div>
        <!--end::Label-->
        <!--begin::Badge-->
        <div class="timeline-badge color2">
          <i class="fa fa-genderless"></i>
        </div>
        <!--end::Badge-->
        <!--begin::Text-->
        <div class="ra_pcontent pl10">
          <span class="title">Added new style collection</span><br>
          <span class="subtitle mb10">By TFN Technologies</span>
          <ul class="ra-img mb0 mt10">
            <li class="list-inline-item"><img src="images/resource/raimg1.png" alt=""></li>
            <li class="list-inline-item"><img src="images/resource/raimg2.png" alt=""></li>
          </ul>
        </div>
        <!--end::Text-->
      </div>
    </div>
    <div class="dashboard-timeline-label">
      <div class="timeline-item pb10">
        <!--begin::Label-->
        <div class="child-timeline-label">14:37</div>
        <!--end::Label-->
        <!--begin::Badge-->
        <div class="timeline-badge color3">
          <i class="fa fa-genderless"></i>
        </div>
        <!--end::Badge-->
        <!--begin::Text-->
        <div class="ra_pcontent pl10">
          <span class="title">Make deposit <span class="text-thm1 fw500">USD 700</span> to TFN</span>
        </div>
        <!--end::Text-->
      </div>
    </div>
    <div class="dashboard-timeline-label">
      <div class="timeline-item pb10">
        <!--begin::Label-->
        <div class="child-timeline-label">16:50</div>
        <!--end::Label-->
        <!--begin::Badge-->
        <div class="timeline-badge color4">
          <i class="fa fa-genderless"></i>
        </div>
        <!--end::Badge-->
        <!--begin::Text-->
        <div class="ra_pcontent pl10"><span class="title">Natasha Carey have liked the products</span> <br> <span class="subtitle">Allow users to like products in your WooCommerce store.</span></div>
        <!--end::Text-->
      </div>
    </div>
    <div class="dashboard-timeline-label">
      <div class="timeline-item pb10">
        <!--begin::Label-->
        <div class="child-timeline-label">21:03</div>
        <!--end::Label-->
        <!--begin::Badge-->
        <div class="timeline-badge color5">
          <i class="fa fa-genderless"></i>
        </div>
        <!--end::Badge-->
        <!--begin::Text-->
        <div class="ra_pcontent pl10"><span class="title">Favoried Product</span> <br> <span class="subtitle">Esther James have favorited product.</span></div>
        <!--end::Text-->
      </div>
    </div>
    <div class="dashboard-timeline-label">
      <div class="timeline-item">
        <!--begin::Label-->
        <div class="child-timeline-label">23:07</div>
        <!--end::Label-->
        <!--begin::Badge-->
        <div class="timeline-badge color6">
          <i class="fa fa-genderless"></i>
        </div>
        <!--end::Badge-->
        <!--begin::Text-->
        <div class="ra_pcontent pl10"><span class="title">Today offers by Digitech Galaxy</span> <br> <span class="subtitle">Offer is valid on orders of Rs.500 Or above for selected products only.</span></div>
        <!--end::Text-->
      </div>
    </div>
  </div>
</div>
