<div class="row">
  <div class="col-lg-6 col-xxl-3">
    <div class="d-flex justify-content-between statistics_funfact">
      <div class="details">
        <div class="subtitle1">My Products</div>
        <div class="title"><%= Product.where(user_id: current_user.id).count %>
        <%= link_to new_product_path do %>  <span class="badge style1 text-center">
          New Product</span><% end %></div>
        <div class="subtitle2"><%= link_to products_path do %><span>View Products</span> <% end %></div>
      </div>
      <div class="icon text-center mt-4"><i class="flaticon-money-bag"></i></div>
    </div>
  </div>
  <div class="col-lg-6 col-xxl-3">
    <div class="d-flex justify-content-between statistics_funfact">
      <div class="details">
        <div class="subtitle1">My Orders</div>
        <div class="title">66,894</div>
        <div class="subtitle2"><span>40+</span> New Order</div>
      </div>
      <div class="icon text-center mt-4"><i class="flaticon-sent"></i></div>
    </div>
  </div>
  <div class="col-lg-6 col-xxl-3">
    <div class="d-flex justify-content-between statistics_funfact">
      <div class="details">
        <div class="subtitle1">Transactions</div>
        <div class="title">583.35M</div>
        <div class="subtitle2"><span>90+</span> New Customer</div>
      </div>
      <div class="icon text-center mt-4"><i class="flaticon-customer"></i></div>
    </div>
  </div>
  <div class="col-lg-6 col-xxl-3">
    <div class="d-flex justify-content-between statistics_funfact">
      <div class="details">
        <div class="subtitle1">My Balance</div>
        <div class="title">$<%= current_user.balance %> <span class="badge style2 text-center">
          Top Up</span></div>
        <div class="subtitle2"><span>total</span> Balance</div>
      </div>
      <div class="icon text-center mt-4"><i class="flaticon-wallet"></i></div>
    </div>
  </div>
</div>
